.vscode/
lecture_2_hw/ending_analizer
lecture_2_hw/ending_testint
lecture_3_hw/binary_output
lecture_4_hw/logical_and_bit_oper_demo
lecture_5_hw/homework
lecture_7_hw/homework
lecture_7_hw/Makefile
lecture_8_hw/homework
lecture_8_hw/Makefile
Simple_blink_nucleo_f446re/*
!Simple_blink_nucleo_f446re/Core/
Simple_blink_nucleo_f446re/Core/*
!Simple_blink_nucleo_f446re/Core/Src/
Simple_blink_nucleo_f446re/Core/Src/*
!Simple_blink_nucleo_f446re/Core/Src/main.c

Simple_blink_empty_nucleo_f446re/*
!Simple_blink_empty_nucleo_f446re/Src/
Simple_blink_empty_nucleo_f446re/Src/*
!Simple_blink_empty_nucleo_f446re/Src/main.c
*.o
*.out
*.app
.DS_Store
eim_config.toml